body {
  background-color: #f0f0f0;
}

.active {
  background-color: #9f3327;
}
.giragira {
  padding: 2%;
  height: 25%;
}
.tarjetas {
  padding: 1% 10%;
}
.carousel-indicators {
  top: 0;
}
.card-title {
  bottom: 0;
  position: absolute;
}

/* TODO: DEGRADADO TARJETAS INDEX */
